spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${MYSQL_URL}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

url:
  base: https://mouda.site

oauth:
  kakao:
    redirect-uri: https://mouda.site/kakao-o-auth
