name: cd-prod

on:
  push:
    branches:
#      - develop

jobs:
  deploy-on-prod1:
    runs-on: [self-hosted, runner-prod1]

    steps:
      - name: update properties if exists
        run: |
          if [ -n "${{ secrets.NEW_PROPERTIES }}" ]; then
            cd ~/deploy
            echo "${{ secrets.NEW_PROPERTIES }}" > new_properties
            ./update-properties.sh
          fi

      - name: deploy
        run: |
          cd ~/deploy && ./deploy.sh

  deploy-on-prod2:
    runs-on: [self-hosted, runner-prod2]
    needs: deploy-on-prod1

    steps:
      - name: update properties if exists
        run: |
          if [ -n "${{ secrets.NEW_PROPERTIES }}" ]; then
            cd ~/deploy
            echo "${{ secrets.NEW_PROPERTIES }}" > new_properties
            ./update-properties.sh
          fi

      - name: deploy
        run: |
          cd ~/deploy && ./deploy.sh
